header::before {
  background: #FFFFFF55;
  z-index: -1;
}

header::after {
  background: url('../images/header.jpg');
  z-index: -2;
}

header::before,
header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

@media(min-width: 576px) {
  header h1 {
    font-size: 5rem !important;
  }
}

header .lead {
  font-size: 1.5rem;
}

header button {
  font-size: 1.2rem !important;
}

.invisible {
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s 0.3s, opacity 0.3s linear;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

footer {
  z-index: 1 !important;
}

.navbar-nav>div>.btn {
  min-width: 4rem;
  width: 30%;
  font-size: 1.5rem;
}

@media(min-width: 992px) {
  .navbar-nav>div>.btn {
    width: 3.5rem;
  }
}